@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed&display=swap');

html {
  box-sizing:border-box;
}

*, *::before, *::after {
  box-sizing:inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.page-container {
  height: 1600px;
  margin: 0;
  padding: 70px 0px 0px 0px;
  width: 100%;
}

.row-direction {
  display: flex;
  flex-direction: row;
}
